@model  List<Room>

<table>
    <tr>
        <th>
            Room #
        </th>
        <th>
            Occupied?
        </th>
        <th>
            Cleaned?
        </th>
    </tr>

    @foreach (Room room in Model)
    {
        <tr>
            <td>@room.Number
            </td>
            <td>@room.Is_occupied
            </td>
            <td>@room.Is_cleaned
            </td>
        </tr>
    }
</table>