@model  List<Room>

<table>
    <tr>
        <th>
            Room Info
        </th>
        <th>
            Is Room Occupied
        </th>
        <th>
            Is Room Cleaned
        </th>
    </tr>

    @foreach (Room room in Model)
    {
        <tr>
            <td>
                @room.Number
            </td>
            <td>@room.Is_occupied
            </td>
            <td>@room.Is_cleaned
            </td>
        </tr>
    }
</table>