@model  List<string>

<table>
    <tr>
        <th>
            Room Info
        </th>
    </tr>

    @foreach (string roomName in Model)
    {
        <tr>
            <td>
                @roomName
            </td>
        </tr>
    }
</table>