@model  List<Room>
<a href="/home/availablerooms">See Available Rooms</a>
<a href="/home/dirtyrooms">See Dirty Rooms</a>
<a href="/room/updateroom">Update Room</a>
<table>
    <col width="130" />
   
    <tr>
        <th>
            Room #
        </th>
        <th>
            Occupied?
        </th>
        <th>
            Cleaned?
        </th>
    </tr>

    @foreach (Room room in Model)
    {
        <tr>
            <td><a href="/Room/ViewRoom/@room.Id">@room.Number</a>
            </td>
            <td>@room.Is_occupied
            </td>
            <td>@room.Is_cleaned
            </td>
        </tr>
    }
</table>