@model  List<Room>
    <button style="margin:15px;"<button><a href="/home/availablerooms">See Available Rooms</a></button>
    <button style="margin:20px;"<button><a href="/home/dirtyrooms">See Dirty Rooms</a></button>



<table width="400" style="font-size:15px">  
    
   
    <tr style="font-size:30px">
        <th style="font-size:20px">
            Room #
        </th>
        <th style="font-size:20px">
            Occupied?
        </th>
        <th style="font-size:20px">
            Cleaned?
        </th>
    </tr>

    @foreach (Room room in Model)
    {
        <tr>
            <td><a href="/Room/ViewRoom/@room.Id">@room.Number</a>
            </td>
            <td>@room.Is_occupied
            </td>
            <td>@room.Is_cleaned
            </td>
        </tr>
    }
</table width="400">