@model List<Room>

<table width="400" style="font-size:15px">
   

    <tr style="font-size:30px">
        <th style="font-size:20px">
            Room #
        </th>
        <th style="font-size:20px">
            Occupied?
        </th>
        <th style="font-size:20px">
            Cleaned?
        </th>
    </tr>

    @foreach (Room room in Model)
    {
        <tr>
            <td>
                @room.Number
        </td>
        <td>
            @room.Is_occupied
    </td>
    <td>
        @room.Is_cleaned
</td>
</tr>
}
</table>