<style>
    .h1 {
        align-items: center;
        display: flex;
        justify-content: center;
    }
</style>

<h1>Anderson General Enterprises</h1>
<h2>800 Lakeshore Ave</h2>
<h2>Birmingham, AL 35209</h2>
<h3> 1-800-323-4800</h3>
<center>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRM3tTE_ZlcLkD-qossOOD9KywxvO3lr7yUbRgBbolj6tbN679E" alt="phone ringing" style="width:300px; height: 200px;" />
</center>

<h2> Give us a ring!</h2>