<style>
    .h1 {
        align-items: center;
        display: flex;
        justify-content: center;
    }
</style>
<h1 class="h1">Welcome To The Anderson General Room Finder!</h1>
<center>
    <img src="https://us.123rf.com/450wm/dolgachov/dolgachov1603/dolgachov160306596/54934880-hospital-profession-people-and-medicine-concept-group-of-happy-doctors-at-hospital.jpg?ver=6" alt="Nurses and Doctors" style="width:600px; height: 400px;" />
</center>    
